.footerContainer{
	height: 5rem;
	background-color: var(--background-footer);
}


.footerContainer div ul{
	text-align:center;
	padding: 10px;
}


.footerContainer div ul li{
	color: var(--white);
	display:contents;
	margin: 10px;
}

.footerContainer div ul li img{
	padding: 10px;
	color: var(--white);
	width: 45px;
	height: 45px;
}